# Visual Studio / Windows
*.suo
*.user
*.userosscache
*.sln.docstates

# Build directories
out/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt

# Binaries
*.exe
*.dll
*.lib
*.obj
*.o
*.pdb

# Editor
.vscode/
*.log
